html, body {
  height: 100%;
}

body{
  background-image: url(../images/BG.jpg);
  max-width: 100%;
  max-height: inherit;;
  text-align: center;
}

#wrapper{
  margin: 3.5% auto;
  background-color: #d2bc97;
  opacity: 1;
  width: auto;
  height: auto;
  box-sizing: border-box;
}

#subwrapper{
  position: relative;
  top: 15%;
}

button{
  display: block;
  width: 25%;
  height: 20%;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  background: transparent;
  font-size: 30px;
  font-family: 'Lobster Two', cursive, sans-serif;
}

img{
  height: 400px;
}

h1{
  font-family: 'Lobster Two', cursive;
  font-size: 7.5em;
  font-weight: bold;
  color: #3E2A16;
  padding-top: 2.5%;
}

h2{
  font-family: 'Lobster Two', cursive, sans-serif;
  font-size: 35px;
  margin-bottom: 25px;
}

h3{
  font-family: 'Lobster Two', cursive, sans-serif;
  font-size: 15px;
  margin-bottom: 25px;
}

h4{
  font-family: 'Lobster Two', cursive, sans-serif;
  font-size: 10px;
  margin-bottom:  25px;
}

#start{
  margin-top: 10%;
  border: 2px solid black;
  background: #855e42;
  font-family: 'Lobster Two', cursive, sans-serif;
  font-size: 25px;
  color: #fff;
}

button:hover{
  border: 2px solid brown;
  background: tan;
}
